body {
    padding-top: 50px;
}

#builds tr.status-0:nth-of-type(odd) {
    background-color: #33CC33;
}

#builds tr.status-0:nth-of-type(even) {
    background-color: #70DB70;
}

#builds tr:nth-of-type(odd) {
    background-color: #CC0000;
}

#builds tr:nth-of-type(even) {
    background-color: #DB4D4D;
}

a {
    color: #005580;
}

a:hover {
    color: #004466;
}